.order-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-details {
    display: flex;
    flex-direction: column;
}

.head-container {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.items-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    width: 100%;
}

.item-line {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.item-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.item-quantity {
    width: 5%;
    margin: 0.5em;
}

.item-name {
    width: 30%;
    margin: 0.5em;
}

.item-price {
    width: 25%;
    margin: 0.5em;
    display: flex;
    flex-wrap: nowrap;
}

.item-price div {
    margin-right: 0.2em;
}

.discounted {
    text-decoration-line: line-through;
}

.item-details {
    width: 20%;
    margin: 0.5em;
    white-space: pre-wrap;
}

.studio-details td {
    text-align: center;
    vertical-align: middle;
    padding: 0.2em;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mark-box {
    border-radius: 1em;
    background: rgb(170, 175, 164);
    padding: 2em;
    margin: 1em;
    width: 60%;
    -webkit-print-color-adjust: exact; 
}

.info-box {
    width: 60%;
    padding-right: 5em;
}

.order-summary {
    width: 40%;
}

.tags-container {
    display: flex;
}

.tag-name {
    margin-left: 0.2em;
}

.comments-container {
    white-space: pre-wrap;
}