<div class="spinner-container" *ngIf="orderLoding">
    <div class="spinner-message-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <div class="comm-error">Loading...</div>
    </div>
  </div>
  <div *ngIf="!orderLoding">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="top-container">
        <div formGroupName="customer" class="customer-container" [class.mat-elevation-z2]="true">
          <h3 class="customer-title">Customer</h3>
          <div class="customer-form">
              <div class="side left">
                  <mat-form-field class="full-width-field">
                      <mat-chip-list #customerChipList aria-label="Customer selection" multiple="false" >
                        <mat-chip *ngIf="selectedCustomer" removable="true"
                        (removed)="removeCustomer()">
                        #{{selectedCustomer.id}} - {{selectedCustomer.name | titlecase}}
                        <mat-icon matChipRemove >cancel</mat-icon>
                      </mat-chip>
                    <input matInput #customerNameInput [formControl]="filterCustomerInput" type="text" placeholder="First name and Last name" [matAutocomplete]="customerNameAuto" [matChipInputFor]="customerChipList" matChipInputAddOnBlur="true" formControlName="name" required>
                    <mat-spinner *ngIf="isCustomersLoading | async" strokeWidth="1" diameter="20"></mat-spinner>
                    </mat-chip-list>
                    <mat-autocomplete #customerNameAuto (optionSelected)="onCustomerSelect($event)">
                      <mat-option *ngFor="let customer of customers| async" [value]="customer">
                        #{{ customer.id }}-{{ customer.name | titlecase}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <div class="address-container">
                      <mat-form-field class="full-width-field">
                        <input matInput type="text" formControlName="address" placeholder="Address">
                        <button matSuffix type="button" (click)="validateAddress()" mat-icon-button aria-label="Approve edit">
                            <mat-icon>done</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="full-width-field" *ngIf="addresses && addresses.length > 0">
                        <mat-label>Select address</mat-label>
                        <mat-select (selectionChange)="onAddressSelect($event)">
                          <mat-option *ngFor="let address of addresses" [value]="address">
                            {{address.display_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="street-container">
                    <mat-form-field class="street-field">
                        <input matInput type="text" formControlName="street" placeholder="Street">
                    </mat-form-field>
                    <mat-form-field class="house-field">
                        <input matInput type="text" formControlName="house" placeholder="House">
                    </mat-form-field>
                  </div>
                  <div class="city-container">
                      <mat-form-field class="half-width-field city-field">
                          <input matInput type="text" formControlName="city" placeholder="City">
                        </mat-form-field>
                        <mat-form-field class="half-width-field">
                            <input matInput type="text" formControlName="state" placeholder="State">
                        </mat-form-field>
                  </div>
              </div>
              <div class="side right">
                <div class="country-container">
                  <mat-form-field class="country-field">
                    <input matInput type="text" formControlName="country" placeholder="Country">
                  </mat-form-field>
                  <mat-form-field class="zipcode-field">
                    <input matInput type="text" formControlName="zipcode" placeholder="Zipcode">
                  </mat-form-field>
                </div>
                <div class="phone-container">
                  <mat-form-field class="half-width-field phone-field">
                    <input matInput type="tel" formControlName="phone" placeholder="Phone number">
                  </mat-form-field>
                  <mat-form-field class="half-width-field">
                    <input matInput type="email" formControlName="email" placeholder="Email">
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="currency" (selectionChange)="onCurrencyChange($event.value)">
                            <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                                {{currency.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox formControlName="isExport">Export?</mat-checkbox>
                </div>
              </div>
          </div>
        </div>
        <div class="actions-container" [class.mat-elevation-z2]="true">
            <div class="container-line">
                {{ orderForm.get('created').value | date: 'dd/MM/yyyy HH:mm' }}
            </div>
            <div class="exchange-rate container-line">$: {{currency.rate | currency:'ILS'}} ({{currency.lastUpdate | date: 'dd/MM/yyyy'}})</div>
            <div class="container-line">
              <mat-form-field class="shipping-input">
                  <mat-label>Shipping</mat-label>
                  <input matInput type="number" formControlName="shipping" min="0" step="1">
                  <span matSuffix>{{ ( 0 | currency : getCurrency().id : 'symbol-narrow' ) | slice:0:1 }}</span>
              </mat-form-field>
            </div>
            <div class="container-line">
              <div class="price-container">
                 <div>Price: {{orderForm.get('price').value | currency: getCurrency().id  : 'symbol' : '1.0' }}&nbsp;
                  <span *ngIf="!orderForm.get('isEditDiscount').value && orderForm.get('discount').value > 0">(-{{orderForm.get('discount').value / 100 | percent}})</span>
                </div>
                  <button (click)="toggleOrderDiscount()" mat-icon-button aria-label="Approve edit" *ngIf="orderForm.get('isEditDiscount').value">
                    <mat-icon>done</mat-icon>
                  </button>
                  <mat-form-field class="price-input" *ngIf="orderForm.get('isEditDiscount').value">
                      <mat-label>price</mat-label>
                      <input matInput type="number" formControlName="price" min="0" step="1">
                      <span matSuffix></span>
                  </mat-form-field>
                  <mat-form-field class="discount-input" *ngIf="orderForm.get('isEditDiscount').value">
                      <mat-label>discount</mat-label>
                      <input matInput type="number" formControlName="discount" placeholder="0" size="3" min="0" max="100" step="1">
                      <span matSuffix>%</span>
                  </mat-form-field>
              </div>
            </div>
            <div class="container-line">
              Total: {{ orderForm.get('subtotal').value | currency: getCurrency().id : 'symbol' : '1.0' }}
            </div>
            <div class="container-line">
              <button mat-raised-button type="button" (click)="onSetOrderComments()">Comments</button>
            </div>
            <div class="container-line">
              <button mat-raised-button type="submit" [disabled]="!orderForm.valid">Save</button>
            </div>
            <!--pre><code>{{ getAllErrors(orderForm) | json }}</code></pre-->
        </div>
      </div>
      <div class="items-container" [class.mat-elevation-z2]="true">
        <h3>Items</h3>       
        <mat-form-field class="filter-product-container">
          <div class="filter-product">
              <input #productNameInput matInput [formControl]="filterProductsInput" type="text" placeholder="Search products by name or number" [matAutocomplete]="productNameAuto" matAutocompletePosition="above">
              <mat-spinner *ngIf="isProductsLoading | async" strokeWidth="1" diameter="20"></mat-spinner>
          </div>
          <mat-autocomplete #productNameAuto [displayWith]="productFilterResult" (optionSelected)="onProductSelect($event)">
            <mat-option *ngFor="let product of products| async" [value]="product" class="product-option">
                <span class="product-sub">#{{ product.id }} </span><span class="product-sub">({{ calculateProductPrice(product) | currency: getCurrency().id : 'symbol' : '1.0' }})</span>-<span>{{ product.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <div *ngIf="orderForm.get('items').value.length == 0">No items in the list</div>
          <mat-list formArrayName="items">
            <mat-list-item class="item-row" *ngFor="let item of getItemsControls(); let i = index;" [formGroupName]="i">
              <div class="items-line">
                <button type="button" mat-icon-button (click)="removeItem(i)">
                  <mat-icon aria-label="Delete item" matListIcon>delete</mat-icon>
                </button>
                <div class="item-name">#{{item.get('id').value}} - {{item.get('name').value}}</div>
                <div class="item-name">
                  <a class="hand" [ngClass]="{discounted: item.get('discount').value }" *ngIf="!item.get('isEditDiscount').value" (click)="toggleItemDiscount(item)">{{item.get('price').value | currency: getCurrency().id : 'symbol' : '1.0' }}</a>
                  <div *ngIf="!item.get('isEditDiscount').value && item.get('discount').value > 0">{{ item.get('discountedPrice').value | currency: getCurrency().id : 'symbol' : '1.0' }}</div>
                  <button (click)="toggleItemDiscount(item)" mat-icon-button aria-label="Approve edit" *ngIf="item.get('isEditDiscount').value">
                    <mat-icon>done</mat-icon>
                  </button>
                  <mat-form-field class="price-input" *ngIf="item.get('isEditDiscount').value">
                      <mat-label>price</mat-label>
                      <input matInput type="number" formControlName="discountedPrice" min="0" step="1">
                      <span matSuffix>{{ ( 0 | currency : getCurrency().id : 'symbol-narrow' ) | slice:0:1 }}</span>
                  </mat-form-field>
                  <!-- mat-form-field class="discount-input" *ngIf="item.get('isEditDiscount').value">
                      <mat-label>discount</mat-label>
                      <input matInput type="number" formControlName="discount" placeholder="0" size="3" min="0" max="100" step="1">
                      <span matSuffix>%</span>
                  </mat-form-field-->
                  <div *ngIf="!item.get('isEditDiscount').value && item.get('discount').value > 0">(-{{item.get('discount').value / 100 | percent}})</div>
                </div>
                <mat-form-field class="item-quantity">
                  <mat-label>quantity</mat-label>
                  <input matInput type="number" formControlName="quantity" placeholder="0" size="2">
                </mat-form-field>
                <div class="item-details">
                  <div *ngIf="!isItemDetails(item)"><a class="hand" (click)="onItemDetailClick(item)">Add details</a></div>
                  <div *ngIf="item.get('details').value.comment"><a class="hand" (click)="onItemDetailClick(item)">{{item.get('details').value.comment | limitTo: 10}}</a></div>
                  <mat-chip-list *ngIf="item.get('details').value.studio">
                      <mat-chip *ngIf="item.get('details').value.studio.atara" value="atara" (click)="onItemDetailClick(item)" matTooltip="Atara">{{item.get('details').value.studio.atara | limitTo: 10}}</mat-chip>
                      <mat-chip *ngIf="item.get('details').value.studio.corners.topLeft" value="tl" (click)="onItemDetailClick(item)" matTooltip="Top left corner">{{item.get('details').value.studio.corners.topLeft | limitTo: 10}}</mat-chip>
                      <mat-chip *ngIf="item.get('details').value.studio.corners.topRight" (click)="onItemDetailClick(item)" matTooltip="Top right corner">{{item.get('details').value.studio.corners.topRight | limitTo: 10}}</mat-chip>
                      <mat-chip *ngIf="item.get('details').value.studio.corners.bottomLeft" (click)="onItemDetailClick(item)" matTooltip="Bootom left corner">{{item.get('details').value.studio.corners.bottomLeft | limitTo: 10}}</mat-chip>
                      <mat-chip *ngIf="item.get('details').value.studio.corners.bottomRight" (click)="onItemDetailClick(item)" matTooltip="Bottom right corner">{{item.get('details').value.studio.corners.bottomRight | limitTo: 10}}</mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </form>
</div>