.form-container {
    display: flex;
    flex-wrap: wrap;
}

.top-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.customer-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    padding: 1em;
    margin: 1em;
}

.customer-form {
    display: flex;
    flex-wrap: nowrap;
}

.customer-title {
    width: 100%;
    flex-basis: 100%;
}

.actions-title {
    width: 100%;
    flex-basis: 100%;
}

.customer-container .side {
    display: flex;
    flex-basis: 48%;
    flex-wrap: wrap;
}

.customer-container .left {
    margin-right: 1em;
}

.address-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.street-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.city-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.street-field {
    width: 80%;
    padding-right: 0.5em;
}

.house-field {
    width: 20%;
}

.city-field {
    padding-right: 0.5em;
}

.full-width-field {
    flex-basis: 100%;
}

.half-width-field {
    flex-basis: 50%;
}

.country-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.country-field {
    width: 70%;
    padding-right: 0.5em;
}

.zipcode-field {
    width: 30%;
    padding-right: 0.5em;
}

.phone-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.phone-field {
    padding-right: 0.5em;
}

.actions-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 30%;
    padding: 1em;
    margin: 1em;
}

.container-line {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.shipping-input {
    width: 4em;
}

.actions-container button {
    flex-basis: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: center;
}

.items-container {
    flex-basis: 100%;
    padding: 1em;
    margin: 1em;
}

.filter-product-container {
    width: 50%;
}

.filter-product {
    display: flex;
    flex-wrap: nowrap;
}

.product-sub {
    font-size: 80%;
}

.items-line {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.item-row {
    padding-top: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    height: fit-content !important;
}

.item-name {
    margin: 2em;
    flex-basis: 25%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-name a {
    margin: 0.5em;
}

.item-price {
    margin: 2em;
    flex-basis: 20%;
    width: 20%;
}

.discounted {
    text-decoration-line: line-through;
}

.item-quantity {
    margin: 2em;
    flex-basis: 10%;
    width: 10%;
}

.item-details {
    flex-basis: 45%;
    width: 45%;
}

.spinner-container {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.spinner-message-container {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hand {
    cursor: pointer;
}

.discount-input {
    width: 4em;
    padding: 0.5em;
}

.price-input {
    width: 5em;
    padding: 0.5em;
}