<div class="header">
  <div class="header-content">
      <img class="logo" src="/assets/logo.png" class="logo" />
      <div class="address-container">
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <div class="address-text">
            Elkabetz st #28 ARTIST COLONY SAFED 13200 ISRAEL <br>
            TEL. 011-972-4697-4449 FAX. 011-972-46974446 <br>
            Web site: www.canaan-gallery.com <br>
            Email: admin@canaan-gallery.com <br>
        </div>
      </div>
  </div>
  <mat-divider class="divider"></mat-divider>
</div>
<div class="content-container">
    <router-outlet class="content"></router-outlet>
</div>