<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<img src="/assets/logo.png" class="logo" />
    <h1>{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav #drawer mode="side" role="navigation">
  	<div class="user-details" *ngIf="user">
  		<div class="user-visual">
  			<div class="user-img"><img [src]="user.photoURL"></div>
  			<div class="user-email">{{user.email}}</div>
  		</div>
  		<button mat-button (click)="logout()">Logout</button>
		</div>
  	<div class="app-menu" *ngIf="user">
  		<mat-nav-list>
  			<mat-list-item>
  				<mat-icon matListIcon>filter_list</mat-icon>
  				<a routerLink="/orders/list">Orders list</a>
  			</mat-list-item>
  			<mat-list-item>
  				<mat-icon matListIcon>add</mat-icon>
  				<a routerLink="/orders/new">New order</a>
  			</mat-list-item>
	    </mat-nav-list>
  	</div>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
