.filter-pane{
    display: flex;
    justify-content: flex-start;
}

.filter-input-container {
    width: 500px;
}

mat-form-field {
    padding: 10px;
}

.mat-expansion-panel-header {
    font-size: 18px;
}

.article-card {
    margin: 10px;
}

.mat-card-title {
    font-size: 16px;
    cursor: pointer;
}

.mat-card-subtitle {
    font-size: 14px;
}

.article-image {
    padding: 10px;
}

