.customers-list {
    width: 100%;
}

.actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions-right {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-input {
    width: 60%;
}