<h2 mat-dialog-title>{{product.name}}</h2>
<mat-dialog-content>
    <form [formGroup]="itemForm">
        <mat-form-field>
          <mat-label>Atara</mat-label>
          <input matInput type="text" formControlName="atara" placeholder="Enter Atara text">
        </mat-form-field>
        <div formGroupName="corners">
            <div class="corners-top">
                <mat-form-field>
                  <mat-label>Top left</mat-label>
                  <input matInput type="text" formControlName="topLeft" placeholder="Enter top left text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Top right</mat-label>
                  <input matInput type="text" formControlName="topRight" placeholder="Enter top right text">
                </mat-form-field>
            </div>
            <div class="corners-bottom">
                <mat-form-field>
                  <mat-label>Bottom left</mat-label>
                  <input matInput type="text" formControlName="bottomLeft" placeholder="Enter bottom left text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Bottom right</mat-label>
                  <input matInput type="text" formControlName="bottomRight" placeholder="Enter bottom right text">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="itemForm.value">Save</button>
</mat-dialog-actions>
