<h2 mat-dialog-title>{{item.name}}</h2>
<mat-dialog-content>
    <form [formGroup]="simpleItemForm" *ngIf="item.group!='טלית'">
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput type="text" formControlName="comment" placeholder="Enter your comments"></textarea>
        </mat-form-field>
    </form>
    <form [formGroup]="specialItemForm" *ngIf="item.group=='טלית'">
      <div formGroupName="studio">
        <mat-form-field class="atara-container">
          <mat-label>Atara</mat-label>
          <textarea matInput type="text" formControlName="atara" placeholder="Enter Atara text"></textarea>
        </mat-form-field>
        <div formGroupName="corners">
            <div class="corners-top">
                <mat-form-field>
                  <mat-label>Top left</mat-label>
                  <input matInput type="text" formControlName="topLeft" placeholder="Enter top left text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Top right</mat-label>
                  <input matInput type="text" formControlName="topRight" placeholder="Enter top right text">
                </mat-form-field>
            </div>
            <div class="corners-bottom">
                <mat-form-field>
                  <mat-label>Bottom left</mat-label>
                  <input matInput type="text" formControlName="bottomLeft" placeholder="Enter bottom left text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Bottom right</mat-label>
                  <input matInput type="text" formControlName="bottomRight" placeholder="Enter bottom right text">
                </mat-form-field>
            </div>
        </div>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="onClose()">Save</button>
</mat-dialog-actions>
